doctype html
html
  head
    title= title
    link(rel='shortcut icon' href="/images/chat.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/cube.css')
  body
    block content